h1 {
   color: white;
}

#welcome {
   font-family: "Bradley Hand";
   font-size: 225%;
}

#zoo {
   font-family: "Chalkduster";
   font-size: 300%;
}

.title {
   text-align: center;
}

body {
   background-image: url('../img/cage.jpeg');
   background-size: 1280px 1024px;
   margin: 0%;
}


#brownborder {
   border: 3px solid #663300;
   background-image: url('../img/wood.jpeg');
   background-size: 100% 100%;
   width: 97%;
   margin: auto;
}

.brownborder2 {
   border: 3px solid #663300;
   background-image: url('../img/wood.jpeg');
   background-size: 100%;
   text-align: center;
   width: 97%;
   margin: auto;
}

#bunny {
   font-family: "Optima";
   font-size: 125%;
   font-weight: lighter;
}

#wolf {
   font-family: "Copperplate";
   font-size: 150%;
   font-weight: lighter;
}

#quokka {
   font-family: "Blippo";
   font-size: 140%;
   font-weight: lighter;
}

#leopard {
   font-family: "papyrus";
   font-size: 130%;
   font-weight: lighter;
}

img {
   height: 90%;
   width: 100%;
}

ul {
   list-style-type: none;
   height: 60px;
   text-align: center;
   margin: 0;
   padding: 0;
   position: relative;
}

li {
   float: center;
   background-color: #663300;
   text-transform: uppercase;
}

a {
   color: white;
   display: block;
   padding: 2px;
   font-family: "Gill Sans";
}

#home {
   background-color: forestgreen;
}

.menu:hover {
   background-color: peru;
}
